.row {
	margin-top: 15px;
}

h1, h2, h3, h4, h5, h6 {
	font-family:"Din Display Pro Thin", Verdana, sans-serif;
	font-size-adjust:0.49;
	font-weight:100;
	font-style:normal;
}

p {
	font-family:"Handbook Pro Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: large;
	font-size-adjust:0.441;
	font-weight:200;
	font-style:normal;
}